<style type = "text/css">

h1.title {
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #6A6058;
}


h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #6A6058;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #6B7732;
}

p {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: #C3832A;
}

body {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: #6A6058;
}

</style>